*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  
}

.Router_Link{
  text-decoration: none;
  color: black;
}


@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --primary-color: #fed700;
  --secondary-color: #0e8a54;
  --tertiary-color: #333e48;
  --info-color: #117aff;
  --success-color: #4bd964;
  --danger-color: #ee1d00;
  --light-color: #efefef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: var(--tertiary-color);
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
}

.customer_container {
  max-width: 1440px;
  width: 100%;
  padding: 7px 15px;
  margin: 0 auto;
}

img {
  width: 100%;
  object-fit: cover;
}

.btn {
  min-width: 150px;
  padding: 14px 30px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  border-radius: 25px;
  transition: all 0.3s ease-out;
  margin: 0 10px 0 0;
  border: none;
  cursor: pointer;
  outline-width: 0;
}

.btn-primary {
  background: var(--primary-color);
  color: var(--light-color);
  border: 1px solid var(--primary-color);
}

.btn-block {
  width: 100%;
  display: block;
  margin: 13px 0;
}

.btn-light {
  background: var(--light-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-primary:hover,
.btn-light:hover {
  background-color: var(--tertiary-color);
  color: var(--light-color);
  border: 1px solid var(--tertiary-color);
  font-size: 0.72rem;
}

.row {
  width: 100%;
  padding: 1rem;
  display: flex;
}

.col-1-2 {
  flex: 0.5;
  min-width: 250px;
  padding: 1rem;
}

.col-1-3 {
  flex: 0.33;
  min-width: 250px;
  padding: 1rem;
}

.col-1-4 {
  flex: 0.25;
  min-width: 250px;
  padding: 1rem;
}

.col-title {
  font-size: 0.8rem;
  font-weight: bold;
  padding-bottom: 0.8rem;
}

.rec-arrow {
  background-color: rgba(var(--tertiary-color), 0.5) !important;
}

.rec-dot_active {
  background-color: rgba(0, 0, 0, 0.5) !important;
  box-shadow: 0 0 1px 3px var(--tertiary-color) !important;
}

.cart_summary{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  height: 250px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/*Place the text Welcome User on the right side*/
.dashboard-divider{
  display : flex;
}
/* =========================================================== */
/* Container Sizings */
/* =========================================================== */
@media (max-width: 1220px) {
  .customer_container {
    max-width: 1000px;
  }
}

@media (max-width: 1050px) {
  .customer_container {
    max-width: 990px;
  }
}

@media (max-width: 992px) {
  .customer_container {
    max-width: 800px;
  }

  .row {
    flex-direction: column;
  }

  .col-1-2 {
    padding: 0;
  }
}
