.home-banner{
    width: 100%;
    height: 90vh; /*View height responsive*/
    object-fit: cover;
    margin-top: 1.5rem;
    clip-path:polygon(0 0,100% 0, 100% 75vh, 0 100%);
}
/*The banner container will allow to insert items on top of the image*/
.banner-container{
    position: relative;
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.banner-text-header{
    text-transform: uppercase;
    letter-spacing: 10px;
    animation: slideInLeft 2s;
}
/*Placing the button in the middle of the text*/
.btn{
    display: block;
    margin: 0% auto;
    margin-top: 1.5rem;
    border-radius: 100px;
    padding: .5rem 1.5rem;/*.5 to the top , 1.5 to the left and right*/
}

.btn:hover{
    background: #f5f5f5f5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    transform: translateY(-3px);
}

.btn:active{
    box-shadow: 0 5px 8px rgba(0, 0, 0, .2);
    transform: translateY(-1px);
}
/*Animation for the text in the middle of the page*/
@keyframes slideInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        opacity: 0.5;
        transform: translateX(20px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

