.menu-option{
    display : flex;
    align-items: center;
    cursor: pointer;/*The user can see the difference between regular mouse pointer*/
    margin-bottom: 1.2rem;
}
.menu-text{
    margin-left: .5rem;
    font-weight: 400;
}